.App {
  margin-left: 40px;
}
.titulo{
  font-size: 35px;
  margin-top: 50px;
}
.img-cadastro{
  margin-top: 30px;
  width: 10vh;
  margin-bottom: 50px;
}
#btn-cadastro{
  margin-left: 20px;
}
#btn-edit{
  margin-right: 10px;
}

